@font-face {
    font-family: "cod";
    src: url("../fonts/cod/Call\ of\ Ops\ Duty\ II.otf");
  }

#carta{
    margin-top: 200px;
}

.text-carta{
    font-size: 22px;
}

#main{
    font-family: cod;
    text-align: center;
}
